#clockContainer {
    position: relative;
    margin: auto;
    border: 2px solid rgb(153, 94, 235);
    width: 40vw;
    height: 40vw;
    background: url(clock-face-1.webp) no-repeat;
    background-size: cover;
}

#hour, #minute, #second {
    position: absolute;
    background:black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour {
    width:0.5%;
    height:10%;
    top:40%;
    left: 50%;
    opacity: 0.8;
}
#minute {
    width:0.5%;
    height:15%;
    top:35%;
    left: 49.7%;
    opacity:0.8;
}
#second {
    width:0.5%;
    height:20%;
    top:29%;
    left: 49.75%;
    opacity:0.8;
}